form button{
    background-color: #075e55;
border-radius: 50%;
color: white;
border: none;
margin-left: 10px;
padding: 10px;
}
form input{
    border: none;
}
footer{
    /* background-image: url("images/bg.png"); */
    position: sticky;
    margin: 8px;
    bottom: 0;
    padding-bottom: 10px;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    display: flex;
    color: #818181;
}
.diviser{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .diviser p{
     font-family: Arial, Helvetica, sans-serif;
     color: #818181;
     background-color: #d1edf9;
     padding: 10px;
     border-radius: 10px;
 }
.form-element i{
    font-size :18px
}
.form-element{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    width: 84%;
}
.con-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
} 
.my-msg{
    /* min-width: 50%; */
}
.my-msg .msgg{
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.msg-style{
    display: flex;
    align-items: center;
    /* padding: 0px; */
    /* padding-left: 13px; */
    margin: 0;
    background-color: #e2ffc7;
    border-radius: 20px;
    margin-bottom: 6px;
}
.my-msg .msgg p{
    padding: 10px;
    margin: 0;
    background-color: #e2ffc7;
    border-radius: 20px;
}
.my-msg .msgg .infomsg{
    margin-top: 13px;
    padding-left: 0px;
    padding-right: 11px;
}
.msgg small{
    
}
.my-msg { 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10PX;
}
.her-msg {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10PX;
}
.her-msg .msgg{
    /* float: right; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.her-msg .msgg p{
    padding: 10px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 20px;
}
.her-msg .msgg .infomsg{
    margin-top: 13px;
    padding-left: 0px;
    padding-right: 11px;
}
.her-msg .msg-style{
    background-color: #ffffff;
}

